  .activeLab-btn{
    color: black;
    /* height: 25px; */
    font-size:var(--heading-font);
    border: none;
    padding: 5px;
    
  }
  .navigation-bar {
    /* font-family: Arial, sans-serif; */
      background-color: white;
      overflow-x: auto;
    scrollbar-width: none;
      padding: 5px;
      /* border: 1px solid #007bff; */

    }
    
    .navigation-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 5px;
      display: flex;
      white-space: nowrap;
      /* gap: 10px; */
      /* justify-content: space-around; */

    }
    
    .navigation-bar li {
      margin: 0 0px;
      
    }
    
    .navigation-bar a {
      /* color: black;
      
      text-decoration: none;
      font-size: var(--font-size);
      padding: 5px 10px;
      border-radius: 5px; */
      color: black;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      border:1px solid transparent;
      cursor: pointer;
      text-decoration: none;
      margin-left: 5px;
    }
    .navigation-bar a:hover {
      border: 1px solid var( --button-hover-border-color);
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background-color); 
    }
    .navigation-bar a.active {
      border: 1px solid var(--button-bg-color);
      color:white;
      background-color: var(--button-bg-color);
    }
    