.ledger-group{
    padding: 1px;
}
.ledger-group-create button{
    background-color: var(--button-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--button-hover-background-color);
    font-size: var(--font-size);
    cursor: pointer;
    border: 1px solid var(--button-hover-border-color);
}
.ledger-group-create button:hover{
  color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
}
.ledger-group-search-container{
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.ledger-group-search-container input[type="text"]{
   background-color: transparent;
   border: none;
   outline: none;
   width: 180px;
}
.ledger-group-search-bar {
    display: flex;
    font-size: var(--font-size);
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .ledger-group-print-btn{
    background-color: var(--button-color);
    color: var(--button-hover-background-color);
    margin-left: 10px;
    padding: 5px 10px;
    font-size: var(--font-size);
    border-radius: 5px;
    border: 1px solid var(--button-hover-border-color);
  }
  .ledger-group-print-btn:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
  }
  .ledger-group-results-count{
    color: rgb(95, 95, 95);
  }

.ledger-group-table-btn{
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid var(--button-hover-border-color);
}
.ledger-group-table-btn:hover{
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}