.Nursing-Patient-Dashboard-main-section
{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border: none;
}
.Nursing-Patient-Dashboard-left-aside
{
    width: 30%;
    height: 80vh;
    border-radius: 1px solid red;
    border: none;
    font-size: var(--font-size);
}