.DoctorBlockingTable-container{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.DoctorBlockingTable-addButton
{
    width:100% ;
    /* padding: 5px 10px; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size);
}
.DoctorBlockingTable-addButton input[type="text"]
{
    /* width: 500px; */
    border: 1px solid gray;
    /* padding: 5px; */
    border-radius: 5px;
}
.doctor-blocking-bar-search input{
    margin-bottom: 5px;
    /* width: 300px; */
    padding: 5px;
    font-size: var(--font-size);
}
.DoctorBlockingTable-btn
{
    width: 100px;
    padding: 5px 10px;
    color: white;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    background-color: var(--button-color);
}
.DoctorBlockingTable-btn :hover{
    color: var(--button-color);
    background-color: white;
}


.doctor-blocking-table-btn{
    background-color: var(--button-color); 
  border: 1px solid white; 
  color: white; 
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;

}
.doctor-blocking-table-btn:hover{
    background-color: white; 
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);

}