.maternity-header-module {
  width: 100%;
  margin: 0 auto;
}

/* .maternity-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
} */

.maternity-header  {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  height: auto; /* Use auto to accommodate content */
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.maternity-navbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.maternity-navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.maternity-navbar li {
  flex: 0 0 auto; /* Allow items to maintain their width */
  text-align: center; /* Center align text in each item */
  margin-right: 10px; /* Space between items */
}

.maternity-navbar li:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

/* Remove margin left to avoid additional space */
.maternity-header-button {
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0 5px
}

.maternity-header-button:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.maternity-header-button.active {
  border: 1px solid var(--button-bg-color);
  color: white;
  background-color: var(--button-bg-color);
}