.sectionList-voucher-management {
    margin: 0 auto;
    padding: 20px;
}
.sectionList-search-container{
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}
.sectionList-search-container input[type="text"]{
   background-color: transparent;
   border: none;
   outline: none;
   width: 250px;
}
.sectionList-search-bar {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .sectionList-print-btn{
    background-color: var(--button-color);
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  .sectionList-print-btn:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
  }
  .sectionList-results-count{
    color: black;
  }
.sectionList-deactivate-button{
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.sectionList-deactivate-button:hover{
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
  border: 1px solid var(--button-hover-border-color);
}