.DoctorAppointments-container {
  padding: 5px;
  font-family: Arial, sans-serif;
}

.DoctorAppointments-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.DoctorAppointments-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.DoctorAppointments-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.DoctorAppointments-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.DoctorAppointments-input {
  padding: 5px;
  font-size: var(--font-size);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.DoctorAppointments-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.DoctorAppointments-btn
{
  padding: 5px 10px;
  color: white;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 5px;
}
.DoctorAppointments-button-field
{
  display: contents;
  align-items: center;
}

.DoctorAppointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.DoctorAppointments-table th, .DoctorAppointments-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.DoctorAppointments-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
