.outer-container-details {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 10px;
  }
  
  .complaint-entry-system-form {
    background: white;
    padding: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .complaint-entry-system-subtitle {
    color: black;
    font-size: var(--heading-font);
    margin-top: var(--font-size);
    margin-bottom: 10px;
  }
  
  .complaint-entry-system-row {
    gap: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .complaint-entry-system-row-select
  {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .complaintSpace
  {
    width: 100%;
    padding: 10px 0px;
  }

  
  .complaint-entry-system-upload-btn {
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-hover-border-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .complaint-entry-system-upload-btn:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }
  
  .complaint-entry-system-radio-group {
    gap: 10px;
    display: flex;
    align-items: center;
  }
  

  
  .requiredtext{
    color: red;
  }
  
  .complaint-panel-header {
    background-color: var(--upperBar-bg-color);
    color: white;
    padding: 5px 10px;
    font-size: var(--heading-font);
  }


  .complaint-entry-system-search-wrapper {
    position: relative;
    width: 400px; 
  }
  
  





  /* ============================================================= */
  
.ComplaintEntrySystemPopUp-action-buttons {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    margin-top: 4px;
}

.ComplaintEntrySystemPopUp-action-buttons button {
    background-color: var(--button-bg-color);
    color: var(--button-hover-background-color);
    font-size: var(--font-size);
    padding: 5px;
    border: 1px solid var(--button-bg-color);
    border-radius: 5px;
}

.ComplaintEntrySystemPopUp-action-buttons button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-bg-color);
}
