.DischargeipMainNav {
    background-color:var(--background-color);
    padding: 10px;
    width: -webkit-fill-available;

  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    background-color: var(--button-color);
    color: white;
    font-size: 16px;
    padding: 5px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-link.active {
    background-color:var(--button-bg-color);
  }
  
  .nav-link:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
  }
  
  .content {
    margin-top: 20px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  