.discharge-container
{
  width: 100%;
  padding: 5px 0px;
}
.discharge-search-input{
  border-radius: 5px;
  height: 30px;
}
.insurance-patient {
  margin-bottom: 20px;
}
.insurance-patient label {
  font-size: var(--font-size);
}
.insurance-patient input[type="checkbox"] {
  margin-left: 10px;
}
.dischargedbtn{
  height: 30px;
  padding:0px 9px;
  border-radius: 5px;
}
.discharge-print-button{
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  font-size: var(--font-size);
}
.discharge-print-button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border:1px solid var(--button-hover-border-color);
}
.dischage-date-range {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.dischage-date-utlt{
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 5px;
  align-items: center;
}
.discharge-filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 10px;
}
/* .dischage-patient{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 2px;
  background-color: #dfebe8;
  align-items: center;

} */
.dischage-insurance{
  margin-left: 500px;
}
