.RequestforQuotation-container {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  width: 1000px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  font-size: 10px;
}
.RequestforQuotation-form-actions{
  margin-top: 20px;
}
.RequestforQuotation-container h1 {
  color: #333;
  font-size: var(--heading-font);
}

.RequestforQuotation-form-row {
  display: flex;
  margin-bottom: 5px;
}

.RequestforQuotation-form-group {
  flex: 1;
  margin-top: 20px;
  margin-right: 5px;
}

.RequestforQuotation-form-group:last-child {
  margin-right: 0;
}

/* .RequestforQuotation-form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color:black;
} */

/* .RequestforQuotation-form-group input[type="text"],
.RequestforQuotation-form-group input[type="date"],
.RequestforQuotation-form-group input[type="number"],
.RequestforQuotation-form-group select,
.RequestforQuotation-form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* .RequestforQuotation-form-group textarea {
  height: 100px;
  resize: vertical;
} */

.RequestforQuotation-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.RequestforQuotation-table th,
.RequestforQuotation-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}
.RequestforQuotation-table td {
  max-height: 250px; /* Adjust as needed */
  overflow-y: auto;
  width: 100%;
}
.RequestforQuotation-table th {
  background-color: #f2f2f2;
}

.RequestforQuotation-code-help {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.RequestforQuotation-btn-remove,
.RequestforQuotation-btn-add {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.RequestforQuotation-btn-remove {
  background-color: var(--button-color);
  color: white;
}

.RequestforQuotation-btn-add {
  background-color: var(--button-color);
  color: white;
}

.RequestforQuotation-form-actions {
  text-align: right;
}

.RequestforQuotation-btn-request,
.RequestforQuotation-btn-cancel {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.RequestforQuotation-btn-request {
  background-color: var(--button-color);
  color: white;
}

.RequestforQuotation-btn-cancel {
  background-color: var(--button-color);
  color: white;
  margin-left: 5px;
}

.RequestforQuotation-table-container{
  height: 120px;
  overflow-y: scroll;
}
.RequestforQuotation-table-container::-webkit-scrollbar{
  width: 1px;
}