.UpdateAcHead-container {
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.UpdateAcHead-title {
  text-align: left;
  margin-bottom: 10px;
}

.UpdateAcHead-form-group {
  margin-bottom: 15px;
}

.AddAccountHead-form{
  gap: 20px;
}


.UpdateAcHead-required {
  color: red;
}

.UpdateAcHead-checkbox {
  margin-top: 10px;
}

.UpdateAcHead-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.UpdateAcHead-button:hover {
  background-color: #218838;
}
