.surgicalinstrumenttrackingbtn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.surgicalinstrumenttrackingbtn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}
.surgicaltrack-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.instrumenttrack-form{
    display: flex;
    padding:5px;
    gap: 5px;
}

/* .surgicaltrack-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;

} */

.surgical-instrument-tracking {
    padding: 20px;
}


.surgicalinstrumenttrackingedit-btn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
   
}
.surgicalinstrumenttrackingbtn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}
.surgicaltrack-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.surgicaltrack-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 450px;
}



.surgicaltrack-modal-content-h2 {
    margin-bottom: 20px; /* Space below the heading */
    text-align: center; /* Center the heading */
}

.surgical-instrument-tracking label {
    display: block; /* Make labels block elements */
    margin: 10px 0 5px; /* Space around the labels */
    font-weight: bold; /* Bold font for labels */
}

.surgical-instrument-tracking input[type="text"],
.surgical-instrument-tracking input[type="number"],
.surgical-instrument-tracking select {
    width: 250px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.surgical-instrumenttrack-modalbtn {
    display: flex; /* Use flexbox for button alignment */
    justify-content: space-between; /* Space between buttons */
}

.surgicalinstrumenttrackingedit-btn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right:20px;
    margin-top: 20px;
   
}

.surgicalinstrumenttrackingedit-btn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}

.surgical-isntu-track-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.surgical-isntu-track-filter-date-utlt {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.surgical-isntu-track-filter-date-range {
    display: flex;
    align-items: center;
}

.surgical-isntu-track-filter-input {
    margin: 0 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.surgical-isntu-track-filter-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.surgical-isntu-track-filter-search-input {
    padding: 5px;
    margin-right: 10px;
    width: 250px;
}

.surgical-isntu-track-filter-search-btn {
    padding: 5px;
    color: white;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}