.surgerySchedulings-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.surgerySchedulings-add-row-button {
  background-color: var(--button-color);
    border:1px solid var(--button-color);
    color: white;
    padding: var(--input-box-padding);
    margin-left: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.surgerySchedulings-add-row-button:hover {
  background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border-color:var(--button-hover-border-color);
}

.surgerySchedulings-table {
  width: 100%;
  border-collapse: collapse;
}

.surgerySchedulings-table th,
.surgerySchedulings-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.surgerySchedulings-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.surgerySchedulings-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.surgerySchedulings-table tr:hover {
  background-color: #f1f1f1;
}

.surgerySchedulings-edit-button {
  background-color: var(--button-color);
  border:1px solid var(--button-color);
  color: white;
  padding: var(--input-box-padding);
  margin-left: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.surgerySchedulings-edit-button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border-color:var(--button-hover-border-color);
}



.surgerySchedulings-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 650px;
  overflow: auto;
}


.surgerySchedulings-popup-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.surgerySchedulings-popup-content div {
  margin-bottom: 15px;
}

.surgerySchedulings-popup-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.surgerySchedulings-popup-content input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.surgerySchedulings-save-button,
.surgerySchedulings-cancel-button {
  padding: var(--input-box-padding);
  
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.surgerySchedulings-save-button {
  background-color: var(--button-color);
  border: 1px solid var(--button-hover-border-color);
  color: white;
}

.surgerySchedulings-save-button:hover {
  background-color:white;
  color: var(--button-hover-text-color);
}

.surgerySchedulings-cancel-button {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: white;
}

.surgerySchedulings-cancel-button:hover {
  background-color:white;
  color: #dc3545;
}