.MaintenanceVisitDetailsPopUp-container {
    width: 1230px;
    font-family: Arial, sans-serif;
    height: 80vh;
    overflow-x: auto;
  }
  
  .MaintenanceVisitDetailsPopUp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
  }
  
  .MaintenanceVisitDetailsPopUp-header h4 {
    font-size: var(--heading-font);
    margin: 0;
  }
  
  .MaintenanceVisitDetailsPopUp-close-btn {
    background-color: #E52F3E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
  }
  
  .MaintenanceVisitDetailsPopUp-form .MaintenanceVisitDetailsPopUp-MaintenanceVisitDetailsPopUp-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .MaintenanceVisitDetailsPopUp-form-group {
    /* flex: 1; */
    display: flex;
    text-align: center;
    align-items: center;
    font-size: var(--font-size);
    width: 400px;
    padding: 5px;
    /* border: 1px solid red; */
  }
  
 
  .MaintenanceVisitDetailsPopUp-form-group-checkbox{
    display: flex;
    text-align: center;
    align-items: center;
    white-space: nowrap;
  }
  
  
.MaintenanceVisitDetailsPopUp-form-group-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.MaintenanceVisitDetailsPopUp-form-group-options label {
  margin-right: 20px;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
}

.MaintenanceVisitDetailsPopUp-form-group-options input {
  margin-right: 5px;
}

  .MaintenanceVisitDetailsPopUp-form-actions {
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size);
    gap: 8px;
    margin-top: 16px;
  }
  .EquipmentGetPassOut-tab-bar {
    display: flex;
    gap: 5px;
    padding: 4px ;
  }
  
  .EquipmentGetPassOut-tab {
    padding: 4px 12px;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    color: white;
    font-size: var(--font-size);
    background:var(--button-bg-color);
    cursor: pointer;
  }
  .EquipmentGetPassOut-tab:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-bg-color);
  }
  .MaintenanceVisitDetailsPopUp-add-btn {
    background-color:var( --button-color);
    border: 1px solid var( --button-hover-border-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size);
    margin: 1px;
    transition: background-color 0.3s ease;
    padding: 5px 5px;
  }
  
  .MaintenanceVisitDetailsPopUp-add-btn:hover {
    border: 1px solid var( --button-hover-border-color);
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
  }
  .MaintenanceVisitDetailsPopUp-form-group-1row{
    display: flex;
    justify-content: space-between;
  }
  
  .visit-details-details-section {
    margin: 20px 0;
    padding: 0 20px;
  }
  
  .visit-details-table-container {
    margin-top: 15px;
    overflow-x: auto;
  }
  
  .visit-details-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f5;
  }
  
  .visit-details-table th,
  .visit-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .visit-details-table th {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  .visit-details-table input {
    width: fit-content;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .visit-details-delete-btn {
    margin-top: 10px;

    background-color: #ff4444;
    color: white;
    margin-left: 10px;
    border: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .visit-details-delete-btn:hover {
    background-color: red;
  }
  
  .visit-details-add-row-btn {
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .visit-details-add-row-btn:hover {
    background-color: #45a049;
  }