.pharmacy-container {
    padding: 20px;
  }
  
  .pharmacy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .pharmacy-table th,
  .pharmacy-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pharmacy-table th {
    background-color: #ddd;
    color: black;
    
  }
  
  .pharmacy-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .pharmacy-table td {
    font-size: 14px;
  }
  