.insentiveSettingsEISEditBtn-container {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: white;
  /* border-radius: 5px; */
  /* width: 80%; */
  margin: auto;
}

.insentiveSettingsEISEditBtn-header {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: var(--heading-font);
  /* font-weight: bold; */
  margin-bottom: 20px;
  padding-bottom: 5px;
  /* color: #504f4f; */
  border-bottom: 1px solid #a09f9f;
}
.insentiveSettingsEISEditBtn-header span {
font-size: var(--heading-font);
}
.insentiveSettingsEISEditBtn-doctor-name {
  color: blue;
  font-size: var(--heading-font);
  /* font-weight: bold; */
margin-left: 20px;
}

.insentiveSettingsEISEditBtn-tds-info {
  margin-left: 40px;
  /* margin-left: auto; */
}

.inceninsentiveSettingsEISEditBtntive-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.insentiveSettingsEISEditBtn-price-category {
  width: 200px;
  padding: 5px;
}
.insentiveSettingsEISEditBtn-form label {
  /* color: #504f4f; */
  /* font-weight: bold; */
  font-size: var(--font-size);
  align-items: center;
  padding-bottom: 10px;
  /* text-align: center; */
}

.insentiveSettingsEISEditBtn-form-row {
  display: flex;
  justify-content: space-between;
  background-color: #DDE3E9;
  padding: 10px 5px;
  margin-top: 10px;
  gap: 5px;
  align-items: center;
}

.insentiveSettingsEISEditBtn-input-field {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.insentiveSettingsEISEditBtn-save-btn {
  background-color:var( --button-color);
  border: 1px solid var( --button-hover-border-color);
  color: white;
  /* border: none; */
  /* margin-right: 10px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin: 1px;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
}
.insentiveSettingsEISEditBtn-save-btn:hover {
  border: 1px solid var( --button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.insentiveSettingsEISEditBtn-discard-btn {
  background-color: #E31D2D;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: var(--font-size);
}

.insentiveSettingsEISEditBtn-incentive-settings {
  margin-top: 20px;
  width: 60%;
}
.insentiveSettingsEISEditBtn-incentive-settings h4{
/* color: #797777; */
/* font-weight: 100; */
font-size: var(--heading-font);
}
.insentiveSettingsEISEditBtn-search-pagination{
  display: flex;
  justify-content: space-between;
}
.insentiveSettingsEISEditBtn-pagination-info span{
/* color: #659BE0; */
font-size: var(--font-size);
/* font-weight: bold; */
margin-right: 10px;
}

.insentiveSettingsEISEditBtn-search-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.insentiveSettingsEISEditBtn-search-input {
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.insentiveSettingsEISEditBtn-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.insentiveSettingsEISEditBtn-table th, .insentiveSettingsEISEditBtn-table td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: center;
  font-size: var(--font-size);
  /* color: rgb(73, 73, 73); */
}
.insentiveSettingsEISEditBtn-table th{
  background-color: #F3F3F3;
  font-size: var(--heading-font);

}

.insentiveSettingsEISEditBtn-no-rows {
  text-align: center;
  background-color: #FFE6A0;
  /* color: #333; */
}

.insentiveSettingsEISEditBtnp-pagination-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insentiveSettingsEISEditBtn-print-btn {
  background-color:var( --button-color);
  border: 1px solid var( --button-hover-border-color);
  color: white;
  /* border: none; */
  /* margin-right: 10px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin: 1px;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
}
.insentiveSettingsEISEditBtn-print-btn:hover {
  border: 1px solid var( --button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}
