/* Dhanashree_SalesBook_19/09 */

.SalesBookDetails-sales-book-details {
  background-color: var(--background-color);
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
  
}

.SalesBookDetails-header {
  color: #0056b3;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.SalesBookDetails-date-range {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.SalesBookDetails-date-input {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.SalesBookDetails-date-input label {
  margin-right: 5px;
  font-weight: bold;
  color: #333;
}

.SalesBookDetails-date-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.SalesBookDetails-star-button,
.SalesBookDetails-minus-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.SalesBookDetails-show-report-button {
  background-color: #7986cb;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-left: auto;
}

.SalesBookDetails-show-report-button::before {
  content: "Q";
  margin-right: 5px;
}


.SalesBookDetails-show-report-button {
  background-color: #00c9c0; /* Set background color */
  color: white; /* Initial text color */
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-left: auto;
}

.SalesBookDetails-show-report-button:hover {
  background-color: white; /* Background turns white on hover */
  color: var(--button-hover-text-color); /* Text color changes to hover color */
}

/* Dhanashree_SalesBook_19/09 */
