/* Dhanashree_ShowReportNewSalesBook_19/09 */
.ShowReportNewSalesBook-table-container {
  background-color: #e6f2ff;
  padding: 20px;
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* Report title style */
.ShowReportNewSalesBook-report-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Details section */
.ShowReportNewSalesBook-report-details {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the table */
.ShowReportNewSalesBook-sales-report-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
}

/* Table header style */
.ShowReportNewSalesBook-sales-report-table thead th {
  border: 1px solid #000;
  background-color: #e6e6e6;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

/* Table data cells */
.ShowReportNewSalesBook-sales-report-table tbody td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

/* Print button container */
.ShowReportNewSalesBook-print-button-container {
  text-align: center;
}

/* Print button style */
.ShowReportNewSalesBook-print-btn {
  background-color: #7986cb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
