/* PulmonaryRehabilitation.css */

.PulmonaryRehabilitation-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .PulmonaryRehabilitation-btn {
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
  }
  
  .PulmonaryRehabilitation-btn:hover {
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }
  

  
  .PulmonaryRehabilitation-edit-btn {
    margin-left: 2px;
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
  }
  
  .PulmonaryRehabilitation-edit-btn:hover {
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }
  
  .PulmonaryRehabilitation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .PulmonaryRehabilitation-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
   
  }

  .PulmonaryRehabilitation-modal-contentform {
    display: flex;
    padding: 5px;

}

   .PulmonaryRehabilitation-modal-contentform label{
    width: 200px;
    font-size: 16px;
    }
    .PulmonaryRehabilitation-modal-contentform input{
      width: 400px;
    padding: 5px;
    border-radius: 5px;
    }

  .PulmonaryRehabilitation-modal h2 {
    margin-bottom: 20px;
  }
  
  .PulmonaryRehabilitation-modal label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .PulmonaryRehabilitation-modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .PulmonaryRehabilitation-modal-btn {
    display: flex;
    gap: 20px;
  }
  
  .PulmonaryRehabilitation-modal-btn button {
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
  }
  
  .PulmonaryRehabilitation-modal-btn button:hover {
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }
  
