/* EmergencyLateNightArrangements.css */
.EMVStaffTransportManagement-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.EMVStaffTransportManagement-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.EMVStaffTransportManagement-table th, .EMVStaffTransportManagement-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.EMVStaffTransportManagement-table th {
    background-color: #f2f2f2;
    color: Black;
}

.EMVStaffTransportManagement-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.EMVStaffTransportManagement-table tr:hover {
    background-color: #ddd;
}

.EMVStaffTransportManagement-table button {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.EMVStaffTransportManagement-table button:hover {
    background-color: white;
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  
  }
  

/* Add button styling */
.EMVStaffTransportManagement-add-button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.EMVStaffTransportManagement-add-button:hover {
    background-color: white;
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  
  }
  