/* ReturnFromSubstore.css */

.return-form-substore-content {
  margin-bottom: 20px;
}
.return-form-substore-date-range
{
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.return-from-substore-container-left input{
    padding: 5px;
}
.return-from-substore-container-left
{
    width: 40%;
    display: flex;
    align-items: center;
}
.return-from-substore-container-right
{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.return-from-substore-search-bar
{
    /* width: 100%; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
}