 /* Ajhar Tamboli radiologyNav.css 19-09-24 */

  /* Akash Pawar Radiology 14/24 */
  .radiologyNav-bar {
      background-color:white;
  
    }
    
    .radiologyNav-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 10px 0px 10px 0px;
      display: flex;
      /* gap: 10px; */
      justify-content: left;
      /* background-color: brown; */
  
    }
    
    .radiologyNav-bar li {
      margin: 0 0px;
      
    }
    
    .radiologyNav-bar a {
      color: black;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      border:1px solid transparent;
      cursor: pointer;
      text-decoration: none;
      margin-left: 10px;  
    }
    
    .radiologyNav-bar a:hover {
      border: 1px solid var( --button-hover-border-color);
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background-color);
    }
    
    .radiologyNav-bar a.active {
      border: 1px solid var(--button-bg-color);
      color:white;
      background-color: var(--button-bg-color) 
      }
    