
.CSSDKitCategory-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
  }
  
  /* Header styling */
  .CSSDKitCategory-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--heading-font);
  }
  
  /* Content styling for 50/50 layout */
  .CSSDKitCategory-content {
    display: flex;
    justify-content: space-between;
  }
  
  /* Form container styling */
  .CSSDKitCategory-formContainer {
    width: 60%;
  }
  
  /* Form group styling */
  .CSSDKitCategory-formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Label styling */
  .CSSDKitCategory-formGroup label {
    width: 40%;
    font-weight: bold;
    font-size: var(--font-size);
  }
  
  /* Input styling */
  .CSSDKitCategory-formGroup input[type="text"] {
    width: 65%;
    padding: var(--input-box-padding);
    font-size: var(--font-size);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

    
  .CSSDKitCategory-buttonContainer button {
    padding: 6px 10px; /* Smaller padding for compact buttons */
    font-size: var(--font-size);
    cursor: pointer;
    border: none;
    background-color: var(--button-bg-color);
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    width: 15%; /* Reduced button width */
    margin-left: 40%;
  }
  
  .CSSDKitCategory-buttonContainer button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }