/* Container styles for horizontal navbar */
.CssdMaster-navbar {
  display: flex;
  flex-direction: row; /* Horizontal layout */
   /* Center the nav items */
  align-items: center;
  /* height: 60px; */
   /* Fixed height for navbar */
  background-color: var(--button-hover-background-color);
  padding: 5px 5px; /* Add some padding around */
  gap: 5px; /* Spacing between nav items */
  /* border: 1px solid red; */
}

/* Styles for individual nav items */
.CssdMaster-nav-item {
  padding: 5px 5px;
  background-color: var(--button-hover-background-color);
  border: 1px solid transparent;
  /* color:var(--button-bg-color); */
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for nav items */
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Active state for the selected nav item */
.CssdMaster-nav-item.CssdMaster-active {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}

/* Hover effects for nav items */
.CssdMaster-nav-item:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}

/* Responsive design: stack items vertically on small screens */
@media (max-width: 768px) {
  .CssdMaster-navbar {
    flex-direction: column;
    height: auto; /* Remove fixed height */
  }
}
