.setting-main {
    padding: 5px;
  }
  .setting-sub-nav {
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
  }
  .setting-sub-nav ul {
    display: flex;
    color: black;
    font-size: var(--font-size);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .setting-sub-nav ul li {
    position: relative;
    color: black;
    padding: 0px 20px;
    cursor: pointer;
  }
  .setting-sub-nav ul li a {
    text-decoration: none;
    color: black;
  }
  .setting-sub-nav ul li .active {
    color: black;
  }
  .setting-sub-nav .underline {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: var(--button-bg-color);
    transition: left 0.3s ease, width 0.3s ease;
  }
  .setting-sub-nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Position the underline at the bottom of the list item */
    height: 4px;
    width: 0;
    background-color: var(--button-bg-color);
    /* transform: scaleX(1); */
     /* Expands the underline width */
    transition: transform 0.3s ease-in-out;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  .dropdown-menu span {
    padding: 10px 20px;
  }
  .dropdown-menu span a {
    color: black;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu span a:hover {
    background-color: #f0f0f0;
  }
  