.lg{
    padding: 1px;
}
.lg-create button{
    background-color: var(--button-color);
    padding:5px 10px;
    border-radius: 5px;
    color:var(--button-hover-background-color);
    font-size: var(--font-size);
    border: 1px solid var(--button-hover-border-color);
    cursor: pointer;
}

.lg-create button:hover{
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.lg-search-container{
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.lg-search-container input[type="text"]{
   background-color: transparent;
   border: none;
   outline: none;
   width: 180px;
}
.lg-search-bar {
    display: flex;
    font-size: var(--font-size);
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .lg-print-btn{
    background-color: var(--button-color);
    color: var(--button-hover-background-color);
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: var(--font-size);
    border: 1px solid var(--button-hover-border-color);
  }
  .lg-print-btn:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
  }

  .lg-results-count{
    color: rgb(97, 97, 97);
  }

.lg-table-btn{
    background-color: var(--button-color);
    color: var(--button-hover-background-color);
    border-radius: 15px;
    padding: 2px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-hover-border-color);
}
.lg-table-btn:hover{
  color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
}