.IpMoneyReceiptAdvance-event {
    font-family: Arial, sans-serif;
    background-color:var(--background-color);
    padding: 4px;
    font-size: 12px;
  }
  
  .IpMoneyReceiptAdvance-event-bar {
    background-color: var(--upperBar-bg-color);
    color: white;
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 4px;
    text-align: center;
  }
  .IpMoneyReceiptAdvance-event-header span{
    font-size: 18px;
  }
  .IpMoneyReceiptAdvance-header-contact{
    background-color: var(--button-bg-color);
    text-align: start;
    color: white;
    padding-left: 5px;
  }
 .IpMoneyReceiptAdvance-header-contact h3{
    padding: 5px;
    font-size: 18px;
  }
  /* .IpMoneyReceiptAdvance-event-header {
    font-size: var(--heading-font);
  }  */

  .IpMoneyReceiptAdvance-checkbox-label {
    font-weight: normal;
    margin-left: 4px;
  }
  
  .IpMoneyReceiptAdvance-content-wrapper {
    display: flex;
    gap: 4px;
  }
  
  .IpMoneyReceiptAdvance-main-section {
    display: grid;
    grid-template-columns: repeat(1fr);
    width: 100%;
    gap: 4px;
  }
  
  .IpMoneyReceiptAdvance-panel {
    flex: 1;
    background: white;
    border: 1px solid #ccc;
  }
  
  .IpMoneyReceiptAdvance-panel-header {
    background-color: var(--upperBar-bg-color);
    color: white;
    padding: 3px 8px;
    font-size: var(--heading-font);
  }
  .IpMoneyReceiptAdvance-panel-header h3{
    font-size: 20px;
  }
  .IpMoneyReceiptAdvance-panel-content {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;
    gap: 10px;
  }
  
  .IpMoneyReceiptAdvance-form-row {
    
  }
  
  /* .IpMoneyReceiptAdvance-form-row label {
    min-width: 140px;
  }
  .IpMoneyReceiptAdvance-form-row input ,
  .IpMoneyReceiptAdvance-form-row textarea {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 47%;
  }
   .IpMoneyReceiptAdvance-form-row select
   {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 48.5%;
  } */
  .IpMoneyReceiptAdvance-input-with-search {
    display: flex;
    gap: 2px;
    width: 48.5%;
    
  }
  
  .IpMoneyReceiptAdvance-input-with-search input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;

  }
  .IpMoneyReceiptAdvance-magnifier-btn {
    padding: 4px 6px;
    cursor: pointer;
  }
  .IpMoneyReceiptAdvance-status-controls {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-size);
  }
  
  .IpMoneyReceiptAdvance-radio-group {
    display: flex;
    gap: 12px;
  }
  
  .IpMoneyReceiptAdvance-services-section {
    background: white;
    border: 1px solid #ccc;
  }
  
  .ipmoneyreceiptadvance-save-btn {
    padding: 5px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .ipmoneyreceiptadvance-save-btn:hover {
    background-color: white;
    color: var(--button-color);
    border: 1px solid var(--button-hover-border-color);
  }
  .ipmoneyreceiptadvance-table{
    width: 100%;
    border-collapse: collapse;
  }
  .ipmoneyreceiptadvance-table table td{
    font-size: var(--font-size);
  }
  .resizable-th {
    position: relative;
  }
  
  .resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    user-select:none;
  }
.IpMoneyReceiptAdvance-Edit-button{
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  color: white;
  padding: var(--input-box-padding);
  border-radius: 5px;
 }
 .IpMoneyReceiptAdvance-Edit-button:hover{
  background-color: white;
  color: var(--button-color);
 }
 .IpMoneyReceiptAdvance-del-button{
 background-color: red;
  border: 1px solid red;
  color: white;
  padding: var(--input-box-padding);
  border-radius: 5px;
  margin-left: 5px;
 }
 .IpMoneyReceiptAdvance-del-button:hover{
  background-color: white;
  color: red;
 }
  @media screen and (max-width: 768px) {
    .ipmoneyreceiptadvance-form {
      grid-template-columns: 1fr;
    }
  
    .ipmoneyreceiptadvance-save-btn {
      grid-column:1;
    }
}