/* Container for the entire transaction menu */
.cssd-transaction-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
   /* Center the nav items */
  align-items: center;
  /* height: 60px; */
   /* Fixed height for navbar */
  background-color: var(--button-hover-background-color);
  padding: 5px 5px; /* Add some padding around */
  gap: 5px;
}

/* Header styles */
.cssd-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f4ff;
  padding: 15px;
  border: 1px solid #cce7f9;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Navigation bar styles */
.cssd-navbar {
  display: flex;
  /* flex-wrap: wrap;  */
  /* Allow items to wrap on smaller screens */
  
  gap: 5px; /* Space between items */
  /* padding: 5px; */
 
  width: 100%;
}

/* Individual navigation items */
.cssd-nav-item {
  padding: 5px 5px;
  background-color: var(--button-hover-background-color);
  border: 1px solid transparent;
  /* color:var(--button-bg-color); */
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for nav items */
  transition: background-color 0.3s, color 0.3s, border 0.3s;

}

/* Active navigation item */
.cssd-nav-item.active {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}

/* Hover effect for navigation items */
.cssd-nav-item:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}

/* Footer styles */
.cssd-footer {
  margin-top: 20px;
}

.cssd-footer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.cssd-footer button:hover {
  background-color: #0056b3;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .cssd-navbar {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }

  .cssd-nav-item {
    width: 100%; /* Make items full-width */
    text-align: center;
  }
}
